/* resetear estilos*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: #D8D6D6;
    padding: 100px;
    margin: 30px;
}

.cabeza {
    display: flex;
    justify-content: center;
    background-color: green;
    width: 1100px;
    height: 200px;
    text-align: center;
    align-items: center;
}

.uwu {
    display: flex;
    flex-direction: column;
    background-color: blue;
    align-items: center;
    width: 300px;
    height: 700px;
    gap: 3px;
}

.nose {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 30px;
}

.one {
    color: black;
    background-color: yellow;
    border: none;
    width: 200px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    height: 30px;
    justify-content: center;
}

.two {
    background-color: yellow;
    color: black;
    border: none;
}

.nosexd {
    display: flex;
    flex-direction: row;
    display: block;
}

main {
    padding: 10px;
    display: flex;
}

.caja {
    background-color: red;
    width: 900px;
    height: 450px;
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    flex-wrap: wrap;
}

.amarillo {
    background-color: yellow;
    height: 220px;
    width: 220px;
    align-items: center;
}

.morado {
    background-color: midnightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    padding-left: 500px;
}

.more {
    display: flex;
    align-items: center;
    border-radius: 50px;
    border: none;
    padding: 20px;
    justify-content: center;
}